*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
background-color: #131313;
}
.container{
    position: relative;
}
.container .card{
    position: relative;
    width: 320px;
    height: 450px;
    background-color: #232323;
    border-radius: 20px;
    overflow: hidden;
}
.container .card:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(50, 72, 94);
    clip-path: circle(150px at 80% 20%);
    transition: .5s ease-in-out;
}
.container .card:hover::before{
    clip-path: circle(300px at 80% -20%);
}
.container .card::after{
    content: 'Nike';
    position: absolute;
    top: 50%;
    left: 10%;
    font-size: 9em;
    font-weight: 800;
    font-style: italic;
    color: rgba(255, 255, 255, 0.04);
}
.container .card .imgbx{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10000;
    width: 100%;
    height: 220px;
    transition: .5s;
}
.container .card:hover .imgbx{
    top: 0%;
    transform: translateY(0%);

}
.container .card .imgbx img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-25deg);
    width: 270px;
}
.container .card .contentbx{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 10;
}
.container .card:hover .contentbx{
    height: 210px;
}
.container .card .contentbx h2{
    position: relative;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
}
.container .contentbx .size{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    transition: .5s;
}
.container .contentbx .size h3{
color: #fff;
font-weight: 300;
font-size: 14px;
text-transform: uppercase;
letter-spacing: 2px;
margin-right: 10px;
}
.container .contentbx .size span,
.container .contentbx .color span{
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    display: inline-block;
    color: #111;
    background-color: #fff;
    margin: 0 5px;
    transition: .5s;
    border-radius: 4px;
}
.container .contentbx .size span:hover,
.container .contentbx .color span:hover
    {
    background-color: rgb(50, 72, 94);
}
.container .contentbx .color{
background-color: rgb(225, 228, 232);
}
a{
    text-decoration: none;
    color: #fff;
margin-top: 50px;
}